version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
  mongo:
    image: mongo:7.0
    restart: always
    environment:
      MONGO_INITDB_DATABASE: finance_manager
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
    driver: local
